/* My contacts */
.edit-contact,
.delete-contact,
.submit-contact {
  font-size: .9rem;
  background-color: #EEE;
  padding: 8px 16px;
  display: inline-block;
  margin-right: 7px;
  border-radius: 4px;
  cursor: pointer;
}

.submit-contact {
  color: #FFF;
  border: none;
  background-color: $darkOrange;
  line-height: 1.65;
}

.submit-contact:hover {
  background-color: color($darkOrange b(+10%) s(+10%));
}

.edit-contact, .delete-contact {
  @media (min-width: 635px) {
    position: relative;
    top: -12px;
  }
}

.edit-contact:hover, .delete-contact:hover {
  background-color: #DDD;
}

.delete-contact {
  color: red;
}

.update-contact {
  visibility: hidden;
}

.update-contact--visible {
  visibility: visible;
}

.contact-name {
  width: 40%;
  font-size: 1.85rem;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  color: $mainBlue;
  border: 1px solid transparent;
  padding: 7px;
  outline: none;
  position: relative;
  top: 1px;

  @media (max-width: 400px) {
    width: 100%;
  }

  @media (min-width: 635px) {
    width: 65%;
    font-size: 3.125rem;
  }
}

.contact-message {
  color: #333;
  font-family: 'Roboto', sans-serif;
  resize: none;
  display: block;
  width: 100%;
  line-height: 1.65;
  font-size: 1.15rem;
  padding: 7px;
  border: 1px solid transparent;
  height: 175px;
  outline: none;
}

.contact-active-field {
  border: 1px solid #DDD;
  animation: pulseBorder .75s alternate infinite;
}

@keyframes pulseBorder {
  0% {
    border: 1px solid #FFF;
  }

  100% {
    border: 1px solid #CCC;
  }
}

/* Create contact */
.create-contact {
  background-color: #DDD;
  padding: 20px;
  margin-bottom: 20px;
}

.new-contact-name {
  width: 100%;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  border: none;
  margin-bottom: 10px;
  font-size: 1.15rem;
  box-sizing: border-box;
}

.new-contact-message {
  width: 100%;
  box-sizing: border-box;
  resize: none;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  border: none;
  margin-bottom: 10px;
  height: 170px;
  font-size: 1.15rem;
  line-height: 1.65;
}
.contact-limit-message {
  visibility: hidden;
  opacity: 0;
  transition: all .3s ease-out;
  color: #c32929;
  font-weight: bold;
}

.contact-limit-message.active {
  visibility: visible;
  opacity: 1;
}