.main-navigation {


   .main-menu {

      > li {
          color: $color__top-nav-txt;
          > a {
              font-family: 'Roboto', sans serif;
              font-weight: 300;
              color: $color__top-nav-txt;
              @mixin atMedium {
              
              padding:10px 0;
            }
          }
           a:hover {
              color: $color__top-nav-txt-hover;
              
          }
      }

    }
    .sub-menu {
      background-color: $color__top-nav-txt;
      a:visited{
        background-color: $color__top-nav-txt-hover;
      }
    }
}





 

   

 
