.site-branding {

	
	position: fixed;
	top:0px;
	left:0;
	width:100%;
	margin:0;
	padding-left: 20px;
	z-index: 10;
	transition: all .5s ease-in-out;

	@mixin atMedium {
		padding-left: 158px;	
	}
		

	&--dark {
		background-color: rgba($color__top-nav, .85);
		top:0;
		left: 0;
		
		
	}
	
}

.site-header.featured-image .site-branding {
    position: fixed;
    z-index: 10;
}