

 
/*all but home page */
.main-navigation {
	float: left;

    .main-menu {
        > li {
            color: $color__top-nav-txt;
            > a {
                color: $color__top-nav-txt;
            }
            > a:hover {
                color: $color__top-nav-txt-hover;
            }
        }

    }
 
}
 