

 
/*all but home page */
.main-navigation {
	float: left;

	.main-menu > li > a {
  
    color: #FFF;
   
	}
	.main-menu > li > a:hover {
  
    color: #d7d7d7;
   
	}

/* hate the submenu */
   .sub-menu {
    background-color: transparent;
    color: #fff;
    }


 
}
 