$mainBlue: #2f5572; 

$mainOrange: #d59541;
$darkOrange: #F95738;
$lightOrange: #EE964B;
$beige: #FAF0CA;
$mainYellow: #F4D35E;
$grey: #e0e6ef;			/* background */
$paleOrange: #fabb69; /* current link nav */
$charcoal: #333;




 
/*Origiinal Territory   https://www.originalterritory.com/
*/
$territoryOrange: #cc842f; /* top nav my account, sign in, logo, slideshow overlay backgrounds, right colume feature background */
$territoryBlue: #404E66; /* left colume feature background */
$territoryWhite: #f5f5f5;
$territoryTitle: #fbf6f0;
$territoryEmailBgrnd: #6e7b8e;
$territoryEmailBtnTxt:#2d2d2d;
$territoryEmailBtnBgrnd: #adadad;
$territoryEmailInputBgrnd: #4c4c4c;
$territoryEmailTxt: #4c4c4c;
$topNavBgrnd: $territoryBlue;
$darkGrey: #575757; /* grey */

/* Navigation*/
$color__top-nav: $territoryWhite;
$color__top-nav-txt: $darkGrey;
$color__top-nav-background-hover: red;

/* Backgrounds */
$color__background-button: $territoryOrange;
$color__background-nav-button: $territoryOrange;
$color__background-body: #fff;
$color__background-input: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;

$color__background-button-hover: $territoryBlue;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__background_selection: mix( $color__background-body, $color__background-button, 75% ); /* lighten( salmon, 22.5% ); // lighten( #0999d4, 48% ); ^/

/* Text */
$color__text-main: #111;
$color__text-light: #767676;
$color__text-hover: lighten( #111, 22.5% );
$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;


/* Links */
$color__link: $darkGrey;
$color__link-visited: black;
$color__link-hover: darken( $color__link, 10% );

/* Borders */
$color__border: #ccc;
$color__border-link: #0073aa;
$color__border-link-hover: darken( $color__link, 10% );
$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: $color__border;
$color__border-abbr: #666;


/* buttons */
$color__btn-social: $color__top-nav;

 $color__section-title: $color__top-nav;

/* Transition timeouts */
$link_transition: 110ms;
$icon_transition: 120ms;
$button_transition: 150ms;
$background_transition: 200ms;

/* Responsive widths. */

$mobile_width: 600px;
$tablet_width: 768px;
$desktop_width: 1168px;
$wide_width: 1379px;